<div layout="column" >
  <md-toolbar color="primary" >
    <div class="md-toolbar-tools">
      <span class="title">{{title}}</span>
      <button  type="button" (click)="onAdd()" class="md-raised md-button md-ink-ripple button">Add</button>
      <button  type="button" (click)="onGraphShow()" class="md-raised md-button md-ink-ripple button">Show Graph</button>
    </div>
  </md-toolbar>

    <div layout="row">
      <person-list [personList]="personList" (delete)="onDelete($event)"></person-list>
    </div>
    <data-change-visualizer [person]="changedPerson"> </data-change-visualizer>
</div>